<app-technician-navbar></app-technician-navbar>
<h1 class="title-config">My Route</h1>
<mat-stepper class="bg-transparent" orientation="vertical" >
  <mat-step>
    <ng-template matStepLabel>Riverview StreetRiverview</ng-template>
    <ng-template matStepContent>
      <h2>Direction</h2>
      <p>av. Los manzanos 123</p>
      <h2>Date</h2>
      <p>22/09/2022</p>
      <h2>Hour</h2>
      <p>02:19</p>
      <button mat-button matStepperNext>Next</button>
    </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Riverview StreetRiverview</ng-template>
    <ng-template matStepContent>
      <h2>Direction</h2>
      <p>av. Brazil 1055</p>
      <h2>Date</h2>
      <p>20/10/2022</p>
      <h2>Hour</h2>
      <p>09:42</p>
      <button mat-button matStepperNext>Next</button>
    </ng-template>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Riverview StreetRiverview</ng-template>
    <ng-template matStepContent>
      <h2>Direction</h2>
      <p>av. Palomas 345</p>
      <h2>Date</h2>
      <p>15/05/2022</p>
      <h2>Hour</h2>
      <p>11:59</p>
      <button mat-button matStepperNext>Next</button>
    </ng-template>
  </mat-step>
  </mat-stepper>
