<h1 mat-dialog-title>Hi</h1>
<div mat-dialog-content>
  <p>Would you like to add an item?</p>
</div>

<mat-form-field appearance="fill">
  <mat-label>Name</mat-label>
  <input matInput [(ngModel)]="data.name">
</mat-form-field>
<br>
<br>
<mat-form-field appearance="fill">
  <mat-label>Model</mat-label>
  <input matInput [(ngModel)]="data.model">
</mat-form-field>
<br>


<div mat-dialog-actions>

  <button mat-raised-button color="warn" (click)="onNoClick()">No Thanks</button>
  <button *ngIf="data" mat-raised-button color="accent" [mat-dialog-close]="data"
          [disabled]="data.name==null||data.name.length==0||data.model==null||data.model.length==0" >Ok</button>
</div>
