.title-config {
  text-align: center;
  padding-bottom: 0px;
  padding-top: 40px;
}

.grid-config{
  padding-top: 0px;
}

.example-action-buttons {
  padding-bottom: 20px;
}

.h4-config {
  padding-top: 10px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
