<app-home-navbar></app-home-navbar>
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Register-Technician</mat-card-title>
    </mat-card-header>


    <form fxLayoutAlign="stretch" fxLayout="column" [formGroup]="registerTechnicianFormGroup">

      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput  autocomplete="off" formControlName="username" >
        <mat-error *ngIf="registerTechnicianFormGroup.get('username')?.hasError('required')">
          Username is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="registerTechnicianFormGroup.get('username')?.hasError('minlength')">
          Username must have at least <strong>6</strong> characters
        </mat-error>
        <mat-error *ngIf="registerTechnicianFormGroup.get('username')?.hasError('maxlength') &&
                            !registerTechnicianFormGroup.get('username')?.hasError('required')">
          Username must have less than <strong>16</strong> characters
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>FirstName</mat-label>
        <input matInput  autocomplete="off" formControlName="names" >
        <mat-error *ngIf="registerTechnicianFormGroup.get('names')?.hasError('required')">
          FirstName is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="registerTechnicianFormGroup.get('names')?.hasError('minlength')">
          FirstName must have at least <strong>6</strong> characters
        </mat-error>
        <mat-error *ngIf="registerTechnicianFormGroup.get('names')?.hasError('maxlength') &&
                            !registerTechnicianFormGroup.get('names')?.hasError('required')">
          FirstName must have less than <strong>16</strong> characters
        </mat-error>
      </mat-form-field>


      <mat-form-field appearance="fill">
        <mat-label>LastName</mat-label>
        <input matInput  autocomplete="off" formControlName="lastNames" >
        <mat-error *ngIf="registerTechnicianFormGroup.get('lastNames')?.hasError('required')">
          LastName is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="registerTechnicianFormGroup.get('lastNames')?.hasError('minlength')">
          LastName must have at least <strong>6</strong> characters
        </mat-error>
        <mat-error *ngIf="registerTechnicianFormGroup.get('lastNames')?.hasError('maxlength') &&
                            !registerTechnicianFormGroup.get('lastNames')?.hasError('required')">
          LastName must have less than <strong>16</strong> characters
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <input matInput  autocomplete="off" formControlName="address" >
        <mat-error *ngIf="registerTechnicianFormGroup.get('address')?.hasError('required')">
          Address is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="registerTechnicianFormGroup.get('address')?.hasError('minlength')">
          Address must have at least <strong>6</strong> characters
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>CellPhoneNumber</mat-label>
        <input matInput type="number" autocomplete="off" formControlName="cellPhoneNumber" >
        <mat-error *ngIf="registerTechnicianFormGroup.get('cellPhoneNumber')?.hasError('required')">
          CellPhoneNumber is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="registerTechnicianFormGroup.get('cellPhoneNumber')?.hasError('pattern')">
          CellPhoneNumber must have a valid <strong>number</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" autocomplete="off" formControlName="email" >
        <mat-error *ngIf="registerTechnicianFormGroup.get('email')?.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="registerTechnicianFormGroup.get('email')?.hasError('email')">Invalid email</mat-error>
      </mat-form-field>


      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput autocomplete="off" formControlName="password" type="password">
        <mat-error *ngIf="registerTechnicianFormGroup.get('password')?.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="registerTechnicianFormGroup.get('password')?.hasError('minlength')">
          Password must have at least <strong>6</strong> characters
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" (click)="SubmitRegisterTechnician()">Register</button>
    </form>
  </mat-card>
</div>
