<app-home-navbar></app-home-navbar>

<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <form fxLayoutAlign="stretch" fxLayout="column" [formGroup]="userFormGroup">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput  autocomplete="off" formControlName="email" >
      <mat-error *ngIf="userFormGroup.get('email')?.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="userFormGroup.get('email')?.hasError('email')">Invalid email</mat-error>
    </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput autocomplete="off" formControlName="password" type="password">
        <mat-error *ngIf="userFormGroup.get('password')?.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="userFormGroup.get('password')?.hasError('minlength')">
        Password must have at least <strong>6</strong> characters
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" (click)="SubmitLogin()">Login</button>
    </form>
    <br><br>
    <a style="color: red;margin-top: 10px;" routerLink="/register">New User? Click to Sign Up!!</a>
  </mat-card>
</div>
<button mat-button matSuffix type="button" (click)="showPassword = !showPassword">
  <mat-icon>{{ showPassword ? "visibility" : "visibility_off" }}</mat-icon>
</button>
