.flex-container {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  column-gap: 1rem;
}

.card {
  border-radius: 1rem;
  margin-top: 10px;
}

.header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.mat-card-icon {
  display:flex;
  flex-direction: row-reverse;
  align-items: start;
}

.texto {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: #666666;
}
.description {
  color: black;
}
.imagen {
  max-height: 200px;
  max-width: 200px;
  text-align: center;
}
.search{
  display:flex;
  flex-direction: row-reverse;
  align-items: start;
}

.flex-container {
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  max-width: 80%;
  justify-content: space-around;
  align-content: center;
  margin: 0 auto;
  text-align: center;
}

.card{
  text-align: center;
  align-content: center;
  border-radius: 1rem;
  margin-top: 10px;
  max-width: 200px;
}
