<app-technician-navbar></app-technician-navbar>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Profile Information</mat-card-title>
    <mat-card-subtitle>User-Profile</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://previews.123rf.com/images/thesomeday123/thesomeday1231712/thesomeday123171200008/91087328-icono-de-perfil-de-avatar-predeterminado-para-mujer-marcador-de-posici%C3%B3n-de-foto-gris-vector-de-ilus.jpg?fj=1" alt="Photo of a Shiba Inu">
  <mat-card-content class="texto">
    <div><td><strong>Name:</strong></td>{{technicianActual.names}}</div>
    <div><td><strong>LastName:</strong></td>{{technicianActual.lastNames}}</div>
    <div><td><strong>Address:</strong></td>{{technicianActual.address}}</div>
    <div><td><strong>CellphoneNumber:</strong></td>{{technicianActual.cellphoneNumber}}</div>
    <div><td><strong>Email:</strong></td>{{technicianActual.email}}</div>
    <div><td><strong>Password:</strong></td>{{technicianActual.password}}</div>
  </mat-card-content>
  <mat-card-actions  class="button">
    <button  mat-raised-button color="primary" (click)="openDialog(technicianActual)">Edit Profile</button>
  </mat-card-actions>


</mat-card>
