<app-client-navbar></app-client-navbar>

<section class = "flex-container">

  <mat-card class="card" *ngFor="let appliance of appliancesModelData; index as i">
    <mat-card-header  class="mat-card-icon">
      <button  mat-raised-button color="accent" (click)="openDialogUpdate(appointmentData[i])">Edit Item</button>
    </mat-card-header>
    <img mat-card-image class="imagen" [src]="appliance.imagePath"  alt="Refrigerator">
    <mat-card-content class="texto">
      <div><td><strong>Name:</strong></td>{{appliance.name}}</div>
      <div><td><strong>Model:</strong></td>{{appliance.model}}</div>
      <div><td><strong>DateReserve:</strong></td>{{appointmentData[i].dateReserve}}</div>
      <div><td><strong>DateAttention:</strong></td>{{appointmentData[i].dateAttention}}</div>
    </mat-card-content>
  </mat-card>
</section>

